/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, span, h1, h2, h3, h4,
a, p, ol, ul, li, form, label, article,
aside, figure, figcaption, footer, header, nav {
  font-family: sans-serif;
}

 .red-button {
   color: white;
   border: solid 1px #8d0005;
   background-color: ##d90007;
   background: linear-gradient(#d90007, #c91400);
   border-radius: 3px;
   font-size: 14px;
   padding: 7px 0;
   font-family: arial;
   font-weight: 700;
   width: 300px;
   text-align: center;
 }

 .red-button:hover {
   background-color: #ed0008;
   background: linear-gradient(#ed0008, #dd1600);
   cursor: pointer;
 }
