/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

html, body, div, span, h1, h2, h3, h4,
a, p, ol, ul, li, form, label, article,
aside, figure, figcaption, footer, header, nav {
  font-family: arial;
}

.review-button{
  box-sizing: border-box;
  background: #d90007;
  border-color: #8d0005;
  background: linear-gradient(#d90007, #c91400);
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid;
  font-weight: bold;
  text-align: center;
  /*box-shadow: 0 1px 1px rgba(0,0,0,0.3);*/
  padding: 8px 19px 9px;
  border-radius: 3px;
  font-family: arial;
}

.fa .fa-star {
  color: white;
  background-color: white;
}

.post-review-btn{
  color: white;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background-color: #d90007;
  background: linear-gradient(#d90007, #c91400);
  font-size: 12px;
  padding: 5px 8px;
  border: 1px solid #666;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  width: 156px;
  height: 48px;
}
