.biz-pic{
  width: 90px;
  height: 90px;
  border-radius: 3px;
}

[class*=rating-star]{
  height: 10px;
  width: 120px;
}

.search-container{
  border-top: 1px solid #e6e6e6;
  padding-top: 17px;
  padding-bottom: 17px;
  // height: 100%;
}

.biz-listing-left-container{
  float: left;
  padding: 0 15px;
  min-height: 1px;
  box-sizing: border-box;
  width: 62.5%;

}

.biz-listing-right-container{
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
  width: 37.5%;
  margin-top: 3px;
}

.biz-media-block{
  position: relative;
  display: flex;
}

.search-res-title{
  font-weight: normal;
  margin-bottom: 6px;
  color: #0073bb;
}

.search-res-rating{
  margin: 6px 0;
  margin-top: 9px;
  margin-bottom: 23px;
}

.search-res-cat{
  display: flex;
}

.search-res-neigh{
  margin-bottom: 18px;
  font: icon;
  font-size: 16px;
}

.search-res-addr{
  display: block;
  margin-top: 9px;
  font: icon;
  font-size: 16px;
}

.biz-listing-large{
  margin: 0 15px;
}

.media-avatar{
  border-right: 12px solid transparent;
}

.media-story{
  // display: flex;
}
