.header-group{
  background: transparent;
  position: absolute;
  display: flex;
  margin-top: 30px;
  margin-left: 940px;
}

.header-group button{
  font-size: 16px;
  color: #fff;
}

.header-group img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
