.recom-container {
  display: flex;
  list-style: none;
  border-bottom: none;
  margin-top: 30px;
}


.recom-pic {
  height: 180px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
}

.recom-media-block {
  display: block;
}

.recom-list {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 25.33%;
}

.recom-list-large {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.recom-media-story {
  padding: 15px;
}

.recom-item-title {
  font-weight:700;
  font-size: 17px;
}

.splash-recom {
  display: flex;
  list-style: none;
  padding: 15px;
}

.recom-item-cat {
  padding: 5px 0 5px 0;
  display: flex;
}

@media (max-width: 1040px) {
  .recom-item-title {
    font-size: 16px;
  }
}

