.reviews-ind{
  margin: 0;
  padding: 18px 0;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 17px;
}

.rev-container{
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 15px;
  padding-bottom: 36px;
  height: 100%;
}

.rev-super-container{
  margin-top: 10px;
  // width: 960px;
}

.rev-feed-header h2{
  color: #d32323;
  font-weight: bold;
}

.rev-feed-header{
  border-bottom: 1px solid #ccc;
  margin-bottom: 23px;
  display: flex;
}

.rev-col-beta{
  border-left: 1px solid #ccc;
  padding: 0 30px 0 0;
  float: left;
  box-sizing: border-box;
  width: 33%;
  box-shadow: -1px 0 0 #e6e6e6;
}

.bordered-rails{
  padding-left: 30px;
}

.bordered-rails h3{
  color: #d32323;
  font-size: 16px;
  font-weight: bold;
}

.rev-col-alpha{
  padding: 0 30px 0 0;
  margin: 15px;
  width: 67%;
}

.more-biz-info li{
  display: flex;
  padding-bottom: 6px;
}

.more-biz-info span{
  font-size: 15px;
  margin-right: 5px;
}

.more-biz-info p{
  margin-left: 5px;
  font-weight: bold;
}

.simple-hour-op th{
  float: left;
  padding-right: 18px;
}

.simple-hour-op td{
  float: right;
}

.rev-rating{
  display: flex;
}

.rev-rating span{
  vertical-align: middle;
  margin-left: 12px;
  margin-top: 3px;
}
