.search-bar-homepage {
  display: block;
  border-radius: 4px 0 0 4px;
  background: #fff;
  width: 480px;
  height: 63px;
  margin: 0 auto;
}

// .search-bar-homepage-container{
//   margin: 0 auto;
// }

.search-bar {
  display: table;
  border-radius: 4px 0 0 4px;
  background: #fff;
  table-layout: auto;
  vertical-align: top;
  width: 100%;
  display: flex;
  height: 100%;
  float: left;
}

.psuedo-text{
  margin-right: 20px;
}

.search-bar-container{
  display: table;
  border-radius: 4px 0 0 4px;
  background: #fff;
  table-layout: auto;
  vertical-align: top;
  min-width: 100%;
  display: flex;
  height: 100%;
}

.psuedo-input{
  box-shadow: none;
  padding: 8px 12px;
  border: none;
  border-radius: 0;
  background: #fff;
  margin: 0;
  height: 36px;
  line-height: 20px;
}

.psuedo-near{
  width: 50%;
  display: flex;
  // border-top-right-radius: 3px;
  // float: right;
}

.psuedo-find{
  width: 50%;
  border-top-left-radius: 3px;
  // float: right;
}

// .submit-btn{
//   float: right;
// }
