.search-bar-homepage {
  display: block;
  border-radius: 4px 0 0 4px;
  background: #fff;
  width: 480px;
  height: 63px;
}

.search-bar {
  display: block;
  border-radius: 4px 0 0 4px;
  background: #fff;
}

.psuedo-text{
  margin-right: 20px;
}
