// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-signup-container {
  width: 100%;
  min-width: 1020px;
  display: flex;
  flex-direction: column;;
}

.wrap-header {
  width: 100%;
  height: 64px;
  background: #d32323;
}

.login-signup-container {
  text-align: center;
  width: 400px;
}

.img-container {
  
}
