// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrap-header {
  width: 100%;
  height: 64px;
  background: #d32323;
  text-align: center;
}

.login-signup-container {
  text-align: center;
  float: right;
  padding: 0 15px;
  box-sizing: border-box;
  margin-top: 150px;
  max-width: 330px;
  margin-right: 90px;
}

.img-container {
  // float: none;
  display: block;
  margin-top: 63px;
  max-width: 400px;
  text-align: center;
  margin-left: 60px;
}

.ul-errors {
  text-align: center;
  position: relative;
  background: pink;
}

[class*=input-field] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #999;
  text-align: left;
  margin: 0 0 2px;
  padding: 10px;
}

[class*=column] {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.entire-form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.demo-login{
  color: white;
  border: 1px solid #263961;
  width: 300px;
  text-align: center;
  max-width: 100%;
  font-family: arial;
  font-weight: 700;
  font-size: 14px;
  background: #3b5998;
  border-radius: 3px;
  padding: 7px, 0;
}
.fb-link{
  color: white;
  border: 1px solid #263961;
  width: 300px;
  text-align: center;
  max-width: 100%;
  font-family: arial;
  font-weight: 700;
  font-size: 14px;
  background: #3b5998;
  border-radius: 3px;
  padding: 7px, 0;
}

.demo-login:hover {
  background: #4162a7;
  // background: linear-gradient(#ed0008, #dd1600);
  cursor: pointer;
}

.fb-link:hover {
  background: #4162a7;
  // background: linear-gradient(#ed0008, #dd1600);
  cursor: pointer;
}

.red-button {
  color: white;
  border: solid 1px #8d0005;
  background-color: #d90007;
  background: linear-gradient(#d90007, #c91400);
  border-radius: 3px;
  font-size: 14px;
  padding: 7px 0;
  font-family: arial;
  font-weight: 700;
  width: 300px;
  text-align: center;
  max-width: 100%;
}

.red-button:hover {
  background-color: #ed0008;
  background: linear-gradient(#ed0008, #dd1600);
  cursor: pointer;
}

.velp-logo{
  height: 64px;
  width: 95px;
}

.logo-header{
  // max-width: 400px;
  display: inline-block;
  text-align: center;
}
