.main-header-nav {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  color: white;
  display: flex;
  float: right;
  padding: 15px;
  margin: 10px 15px;
}


.main-header-nav .login-link{
  padding: 9px;
  align-items: center;
}

.main-header-nav .signup-link{
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 7px 24px 8px;
  background: transparent;
}

.signup-link:hover{
  background: #fff;
  color: #666;
}

.login-link:hover{
  border-bottom: 2px solid #fff;
}

.center-nav {
  position: relative;
}

.home-page-logo{
  display: block;
  width: 230px;
  margin: 0 auto 48px;
}

.home-page-hero{
  padding: 80px;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 45px;
  align-items: center;
}

h2{
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 21px;
  line-height: 1.28571em;
  color: #d32323;
  text-align: center;
  cursor: default;
}

.home-main-container{
  // display: block;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
}

.home-rec-container{
  padding-top: 72px;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
}