

.main-header-nav {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  color: white;
  width: 410px;
  display: flex;
  float: right;
  padding-top: 30px;
}

.main-header-nav .login-link{
  padding: 9px;
  padding-right: 24px;
}

.main-header-nav .signup-link{
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 7px 24px 8px;
  background: transparent;
}

.center-nav {
  position: relative;
}

.home-page-logo{
  display: block;
  width: 230px;
  margin: 0 auto 48px;
}

.home-page-hero{
  padding: 80px;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 45px;
}
