.splash-image{
  padding-top: 30px;
  height: 570px;
  background-size: cover;
  background-position: 50%;
  align-items: center;
}
.tacos {
  background:
  linear-gradient(
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0, .3)
    ),
    image_url("tacos.jpg");
  padding-top: 30px;
  height: 570px;
  background-size: cover;
  background-position: 50%;
  align-items: center;
}

.beer {
  background:
  linear-gradient(
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0, .3)
    ),
    image_url("beer.jpg");
  padding-top: 30px;
  height: 570px;
  background-size: cover;
  background-position: 50%;
  align-items: center;
}
.girleed_cheese {
  background:
  linear-gradient(
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0, .3)
    ),
    image_url("girleed-cheese.jpg");
  padding-top: 30px;
  height: 570px;
  background-size: cover;
  background-position: 50%;
  align-items: center;
}
.meal {
  background:
  linear-gradient(
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0, .3)
    ),
    image_url("meal.jpg");
  padding-top: 30px;
  height: 570px;
  background-size: cover;
  background-position: 50%;
  align-items: center;
}
.icecream {
  background:
  linear-gradient(
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0, .3)
    ),
    image_url("icecream.jpg");
  padding-top: 30px;
  height: 570px;
  background-size: cover;
  background-position: 50%;
  align-items: center;
}
.perse2 {
  background:
  linear-gradient(
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0, .3)
    ),
    image_url("perse2.jpg");
  padding-top: 30px;
  height: 570px;
  background-size: cover;
  background-position: 50%;
  align-items: center;
}
.xian {
  background:
  linear-gradient(
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0, .3)
    ),
    image_url("xian.jpg");
  padding-top: 30px;
  height: 570px;
  background-size: cover;
  background-position: 50%;
  align-items: center;
}
.steak {
  background:
  linear-gradient(
    rgba(0, 0, 0, .3),
    rgba(0, 0, 0, .3)
    ),
    image_url("steak.jpg");
  padding-top: 30px;
  height: 570px;
  background-size: cover;
  background-position: 50%;
  align-items: center;
}
