.search-bar-nav {
  margin-left: 18px;
  margin-right: 18px;
  border-spacing: 18px 0;
  vertical-align: baseline;
  display: block;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main-nav-logo{
  width: 120px;
  height: 100%;
  display: block;
}

.uni-logo{
  margin-bottom: 5px;
}

.uni-arr-container{
  display: flex;
  height: 100px;
  width: 780px;
  position: absolute;
}

.uni-search-container{
  height: 100%;
}

.nav-search-bar{
  width: 100%;
}
