.search-bar-nav {
  margin: 0 auto;
  max-width: 1000px;
}

.main-nav-logo{
  width: 120px;
  height: 100%;
  display: block;
}

.uni-logo{
  margin-bottom: 16px;
}

.uni-arr-container{
  display: flex;
  height: 100px;
  width: 100%;
}

.nav-search-bar{
  width: 100%;
}

.uni-nav-personal img, .header-group img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.uni-nav-personal button, .header-group button{
  font-size: 14px;
  color: #fff;
  margin-left: 15px;
  margin-bottom: 5px;
}

.uni-nav-personal button:hover, .header-group button:hover {
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.uni-nav-greeting, .uni-nav-personal {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  color: white;
  display: flex;
  padding: 15px;
  margin: 10px 15px;
}

.uni-nav-greeting .login-link{
  padding: 9px;
  align-items: center;
}

.uni-nav-greeting .signup-link{
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 7px 24px 8px;
  background: transparent;
}

.uni-nav-greeting .signup-link:hover{
  color: black;
}

@media (max-width: 980px) {
  .search-bar-nav {
    width: 980px;
  }
}
