.search-bar-nav {
  margin: 0 auto;
  max-width: 1000px;
}

.main-nav-logo{
  width: 120px;
  height: 100%;
  display: block;
}

.uni-logo{
  margin-bottom: 16px;
}

.uni-arr-container{
  display: flex;
  height: 100px;
  width: 100%;
}

.nav-search-bar{
  width: 100%;
}

.uni-nav-greeting {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  color: white;
  display: flex;
  padding: 15px;
  margin: 10px 15px;
}

.uni-nav-greeting .login-link{
  padding: 9px;
  align-items: center;
}

.uni-nav-greeting .signup-link{
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 7px 24px 8px;
  background: transparent;
}
